pdfminer.six==20201018
nltk==3.5
gensim==4.0.1
python-Levenshtein-wheels==0.13.2
Flask==1.1.4.
SqlAlchemy==1.4.17
psycopg2-binary==2.8.6
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
click==7.1.2
scikit-learn==0.23.2
uwsgi==2.0.18